ul {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 10px 0;
	list-style-type: none;
}

a {
	float: left;
	text-decoration: none;
	color: white;
	background-color: #3C599B;
	padding: 0.2em 0.6em;
	border-right: 1px solid black;
	width: auto 100%;
}

a:hover {
	background-color: #61749F;
}

li {
	display: inline;
	width: auto 100%;
}

#ng-view {
	background-color: #E7ECF2;
	padding: 5px;
	margin: 10px;
}

pre {
	font-family: "Lucida Console";
	font-size: 11px;
}