.activity {
	background-color: #F1F1F1;
	border: 1px solid dashed;
	padding: 10px;
}

.checked {
	background-color: #0099FF;
	color: #FFFFFF;
	border: none;
}

.unchecked {
	background-color: #ccc;
	color: #F1F1F1;
	border: none;
	font-style: italic;
}